<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Favorite Parks</h1>
    <ul class="parks">
        <% for(let i = 0; i < info.length; i++) {%>
            <li class="park">
                <span><a href="<%= info[i].parkWebsite %>" target="_blank"><%= info[i].parkName %></a></span>
                <span><%= info[i].parkAddress %></span>
                <span><%= info[i].likes %></span>
                <span class='fa fa-thumbs-up'></span>
                <span class='fa fa-trash'></span>
            </li>
        <% } %>
    </ul>

    <h2>Add a Park:</h2>

    <form action="/addPark" method="POST">
        <input type="text" placeholder="Park Name" name="parkName">
        <input type="text" placeholder="Website" name="parkWebsite">
        <input type="text" placeholder="Address" name="parkAddress">
        <input type="submit">
    </form>

    <script src="main.js"></script>
</body>
</html>